body{
    background-color: #392c2c;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.custom-button{
    font-size: 20px;
    font-weight: 600;
    color:rgb(yellow, green, blue);
    padding:20px;
    border: 2px solid #392c2c;
    border-radius: 5px;
    border-color: chartreuse;
    background-color: aqua;
    background-image: linear-gradient();
    transition:all 0.5s ease;





}
.custom-button:hover {
    background-size: 100%;
    color:white;

}